body {
	background-color: white;
	/*background-image: url('../images/logo_colors.png');
	background-position: 0 0;
	background-repeat: repeat-y;*/
}

body > header {
	height: 5em;
	background-color: #c3d23b;
	color: #2b3134;
	padding-top: 0em;
	margin-bottom: 3em;
	border-top: 0.4em solid #373e42;
}

header h1 {
	font-family: 'Happy Monkey', cursive;
	font-size: 1.8em;
}

body > img {
	display: block;
	width: 100%;
	margin-top: 5em;
	height: auto;
}

body > footer {
	height: 14em;
	background-color: #2b3134;
	color: #8b969b;
	margin-bottom: 0;
	padding-top: 5em;
}

footer > .site_wrap {
	text-align: right;
}


.site_wrap {
	width: 80%;
	max-width: 72em;
}

.app_wrap {
	padding-right: 3em;
}

.sources_col {
	/* 7/9 column */
	width: 78%;
	margin-right: -78%;
}

.total_col {
	/* 2/9 column */
	width: 22%;
	margin-right: -22%;
	left: 78%;
	margin-left: 3em;
}

.col_wrap > .sourcetitle_col { width: 60%; }

.col_wrap > .name_col   { width: 20%; }
.col_wrap > .level_col  { width: 20%; }
.col_wrap > .time_col   { width: 20%; }
.col_wrap > .env_col    { width: 20%; }
.col_wrap > .output_col { width: 20%; }

.sources_col > .source_fieldset {
	margin-bottom: 0.4em;
}

.source_fieldset {
	padding-top: 0.6em;
	padding-bottom: 0.8em;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(silver), to(black));
	background-image: -webkit-linear-gradient(top, #fefefe, #dedede);
	background-image:    -moz-linear-gradient(top, #fefefe, #dedede);
	background-image:     -ms-linear-gradient(top, #fefefe, #dedede);
	background-image:      -o-linear-gradient(top, #fefefe, #dedede);
	background-image:         linear-gradient(top, #fefefe, #dedede);
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid rgb(204, 204, 204);
	margin-bottom: 0.6em;
}

label {
	font-size: 0.8em;
	line-height: 1.6667em;
	height: 1.6667em;
}

.source_fieldset > .col {
	height: auto;
}


/* .index */

.actions_index {
	margin-top: 2em;
}


.tabs_index {
	white-space: nowrap;
}

.tabs_index > li > .button {
  width: 100%;
  border-left-width: 0;
  
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
       -o-border-radius: 0;
          border-radius: 0;
}

.tabs_index > li:first-child > .button {
   border-left-width: 1px;
   
  -webkit-border-top-left-radius: 9px;
     -moz-border-radius-topleft: 9px;
       -o-border-top-left-radius: 9px;
          border-top-left-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
     -moz-border-radius-topleft: 9px;
       -o-border-bottom-left-radius: 9px;
          border-bottom-left-radius: 9px;
}

.tabs_index > li:last-child > .button:last-child {
  -webkit-border-bottom-right-radius: 9px;
     -moz-border-radius-topright: 9px;
       -o-border-bottom-right-radius: 9px;
          border-bottom-right-radius: 9px;
  -webkit-border-top-right-radius: 9px;
     -moz-border-radius-topright: 9px;
       -o-border-top-right-radius: 9px;
          border-top-right-radius: 9px;
}

input + .tabs_index {
	margin-top: 0.8em;
}

.logo_thumb {
	margin-left: 1.4em;
	margin-right: 1.4em;
}

.cr_logo_thumb {
	width: 13.3333em;
	padding-top: 4.4333em;
	background-image: url('http://cruncher.ch/static/images/logotype_400x133.png');
	vertical-align: -1.4em;
}

.readout {

}

label {
	position: relative;
}

label > .readout {
	position: absolute;
	right: 0;
	top: 0;
	height: inherit;
	line-height: inherit;
}

.tabs_index + label {
	margin-top: 0.8em;
}

label + .tabs_index {
	margin-top: 0.4em;
}



/* .button */

.button {
	height: 2.4em;
	line-height: 2.2667em;
}

.add_button,
.add_button:hover {
	line-height: 2.6em;
	height: 3em;
	padding-left: 1.6em;
	padding-right: 1.6em;
	
	font-weight: bold;
	color: white;
	text-shadow: 0 -1px #92aa20;
	
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(silver), to(black));
	background-image: -webkit-linear-gradient(top, #b4d324, #a5c125);
	background-image:    -moz-linear-gradient(top, #b4d324, #a5c125);
	background-image:     -ms-linear-gradient(top, #b4d324, #a5c125);
	background-image:      -o-linear-gradient(top, #b4d324, #a5c125);
	background-image:         linear-gradient(top, #b4d324, #a5c125);
	
	border: 0.2em solid #92aa20;
	border-radius: 0.4em;
}

.add_button:before {
	color: white;
}

[data-icon]:before {
	margin-left: 0.2em;
	margin-right: 0.2em;
	vertical-align: -1px;
	color: #7a8387;
}

[data-icon]:hover {
	color: black;
	text-decoration: none;
}

input:checked + .radio_button,
input:checked + .radio_button:hover {
  color: white;
  text-shadow: 0 -1px rgba(0,0,0,0.5);

  -webkit-box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.5);
  
  background: #649FC9;
}


/* input */

[type="text"] {
	font-size: 1.4em;
	line-height: 1.4em;
	color: #373e42;
	border: 1px solid #999999;
}

[type="range"] {
	margin-top: 0.4em;
}

.name_input {
	line-height: 1.2em;
	font-size: 1.8em;
	background-color: transparent;
	border: 0 solid transparent;
	padding: 0;
	margin-top: -0.2em;
}

.name_input:focus {
	background-color: white;
	border: 1px solid #999999;
}

.refdist_input {
	width: 3em;
}


/* .tip */

.js .tip {
	padding: 1em;
	font-size: 1em;
}

.js .top_tip {
	margin-top: -3em;
	margin-left: -1.6em;
}

.js .top_tip.active {
	margin-top: -3.6em;
}


.source_output {
	width: 100%;
	line-height: 2em;
	font-size: 1.8em;
	text-align: right;
	color: #666;
	margin-top:  0.375em;
}

.total_output {
	font-size: 4.6em;
	text-align: center;
	font-weight: bold;
	line-height: 1em;
	margin: 0;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	color: rgb(99,108,112);
}

.cap_title {
	text-transform: uppercase;
	font-size: 0.6em;
	border-bottom: 1px solid rgb(99,108,112);
	color: rgb(99,108,112);
	line-height: 2em;
	margin-bottom: 1em;
	margin-top:  0;
}


