body {
	background-color: white;
	/*background-image: url('../images/logo_colors.png');
	background-position: 0 0;
	background-repeat: repeat-y;*/
}

body > header {
	height: 5em;
	background-color: #c3d23b;
	color: #2b3134;
	padding-top: 0em;
	margin-bottom: 3em;
	border-top: 0.4em solid #373e42;
}

header h1 {
	font-family: 'Happy Monkey', cursive;
	font-size: 1.8em;
}

body > img {
	display: block;
	width: 100%;
	margin-top: 5em;
	height: auto;
}

body > footer {
	height: 14em;
	background-color: #2b3134;
	color: #8b969b;
	margin-bottom: 0;
	padding-top: 5em;
}

footer > .site_wrap {
	text-align: right;
}


.site_wrap {
	width: 80%;
	max-width: 72em;
}

.app_wrap {
	padding-right: 3em;
}

.sources_col {
	/* 7/9 column */
	width: 78%;
	margin-right: -78%;
}

.total_col {
	/* 2/9 column */
	width: 22%;
	margin-right: -22%;
	left: 78%;
	margin-left: 3em;
}

.sources_col > .source_fieldset {
	margin-bottom: 0.4em;
}

.source_fieldset {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(silver), to(black));
	background-image: -webkit-linear-gradient(top, #fefefe, #dedede);
	background-image:    -moz-linear-gradient(top, #fefefe, #dedede);
	background-image:     -ms-linear-gradient(top, #fefefe, #dedede);
	background-image:      -o-linear-gradient(top, #fefefe, #dedede);
	background-image:         linear-gradient(top, #fefefe, #dedede);
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.actions_index {
	margin-top: 2em;
}

.logo_thumb {
	margin-left: 1.4em;
	margin-right: 1.4em;
}

.cr_logo_thumb {
	width: 13.3333em;
	padding-top: 4.4333em;
	background-image: url('http://cruncher.ch/static/images/logotype_400x133.png');
	vertical-align: -1.4em;
}

.icon_thumb {
	width: 1em;
	padding-top: 1em;
	margin-top: -0.5em;
	
	color: white;
	background-color: rgb(99,108,112);
	border-radius: 1em;
}

label {
	position: relative;
}

label > .icon_thumb {
	position: absolute;
	right: 0;
	top: 50%;
}

.add_button,
.add_button:hover {
	line-height: 2.6em;
	height: 3em;
	padding-left: 1.6em;
	padding-right: 1.6em;
	
	font-weight: bold;
	color: white;
	text-shadow: 0 -1px #92aa20;
	
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(silver), to(black));
	background-image: -webkit-linear-gradient(top, #b4d324, #a5c125);
	background-image:    -moz-linear-gradient(top, #b4d324, #a5c125);
	background-image:     -ms-linear-gradient(top, #b4d324, #a5c125);
	background-image:      -o-linear-gradient(top, #b4d324, #a5c125);
	background-image:         linear-gradient(top, #b4d324, #a5c125);
	
	border: 0.2em solid #92aa20;
	border-radius: 0.4em;
}


.source_output {
	width: 100%;
	line-height: 2em;
	font-size: 1.8em;
	text-align: right;
	color: #666666;
}

.total_output {
	font-size: 4.6em;
	text-align: center;
	font-weight: bold;
	line-height: 1em;
	margin: 0;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	color: rgb(99,108,112);
}

.cap_title {
	text-transform: uppercase;
	font-size: 0.6em;
	border-bottom: 1px solid rgb(99,108,112);
	color: rgb(99,108,112);
	line-height: 2em;
	margin-bottom: 1em;
	margin-top:  0;
}


