[submodule "sub/app"]
	path = sub/app
	url = git://github.com/cruncher/app.js.git
[submodule "sub/bolt"]
	path = sub/bolt
	url = git://github.com/stephband/bolt.git
[submodule "sub/jquery.skin"]
	path = sub/jquery.skin
	url = git://github.com/stephband/jquery.skin.git
